# Default ignored files
/../../../../:Lessons/ClimateStoryWebApp/.idea/shelf/
/../../../../:Lessons/ClimateStoryWebApp/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:Lessons/ClimateStoryWebApp/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:Lessons/ClimateStoryWebApp/.idea/dataSources/
/../../../../:Lessons/ClimateStoryWebApp/.idea/dataSources.local.xml
